# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv
.env

# Build artifacts
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db 